@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
    width: auto;
    height: auto;
    background: #FFF;
}

h1, p {
    color: #383838;
    font-family: Ubuntu;
    text-align: center; 
    font-style: normal;
    line-height: normal;
}

#ProfileImg {
    background: url(https://avatars.githubusercontent.com/u/97509351), lightgray 50% / cover no-repeat;
    background-size: contain;
}

.Page {
    padding-top: 50px;
    padding-left: 0px;
    left: 50%;
    transform: translateX(-50%);

    display: inline-flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
}

#Text {
    width: auto;
    height: auto;
    flex-shrink: 0;
}

#Text0 {
    width: auto;
    height: auto;
    flex-shrink: 0;
}

#Text1 > a {
    text-decoration: none;
    color: #383838;
}

@media all and (max-width: 768px){
	/* //브라우저 창 width가 768px보다 작아지는 순간부터 적용 */
    /* //모바일 */

    img {
        width: 200px;
        height: 200px;
        border-radius: 65px;
        object-fit: fill;
    }
    
    #Text-Title {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 45px;
        font-weight: 700;
    }
    
    #Text-Sub {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 25px;
        font-weight: 400;
    }
    
    #Text1 {
        padding-top: 10%;
        font-size: 25px;
        font-weight: 700;
    }
}

@media all and (min-width: 768px){
	/* //브라우저 창 width가 768px보다 커지는 순간부터 적용 */
	/* //태블릿 */

    img {
        width: 216px;
        height: 216px;
        border-radius: 70px;
        object-fit: fill;
    }
    
    #Text-Title {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 75px;
        font-weight: 700;
    }
    
    #Text-Sub {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 35px;
        font-weight: 400;
    }
    
    #Text1 {
        padding-top: 10%;
        font-size: 35px;
        font-weight: 700;
    }
}

@media all and (min-width: 1024px){
	/* //브라우저 창 width가 1024px보다 커지는 순간부터 적용 */
    /* //데스크탑 */

	img {
        width: 316px;
        height: 316px;
        border-radius: 90px;
        object-fit: fill;
    }

    #Text-Title {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 80px;
        font-weight: 700;
    }
    
    #Text-Sub {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 40px;
        font-weight: 400;
    }
    
    #Text1 {
        padding-top: 10%;
        font-size: 40px;
        font-weight: 700;
    }
}
